body {
    font-family: 'Oswald', sans-serif;
}

.header-wrapper{
  padding: 40px 0 5px 40px;
  color: white;
  background-color: black;
  }

  .description {
padding: 10px 0 0 40px;
  }

.category-container {
    padding: 20px 0 5px 40px;
  }

button {
    cursor: pointer;
    outline: none;
    border: 0;
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    color: #ffffff;
    font-size: .8rem;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin-bottom: .5rem;
}
h1 {
    font-size: 3rem;
    margin-bottom: .2rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
h4 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
p {
    line-height: 1.4rem;
}

.smaller {
  font-size: .8rem;
}
.category {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}

.download {
  display: inline;
  margin-top: .5rem;
  width:35px;
  height:35px;
  border: solid 2px black;
}

.download:hover {
background-color: #4EB96F;
  }

.red {
color: #F05A5A;
}

.green {
color: #4EB96F;
}

.blue {
color: #2C95BF;
}

.alert {
    background: #F05A5A;
}
.input {
    background: #2C95BF;
}
.music {
    background: #F0C42C;
}
.scifi {
    background: #4EB96F;
}
.voice {
    background: #955BA5;
}
.woosh {
    background: black;
}
button:hover {
    opacity: .5;
    text-decoration: none;
}
.license {
    font-family: arial;
    margin-top: 2rem;
    line-height: 1rem;
    font-size: .5rem;
}
